/*---------- BASE ----------*/
*{
margin:0;
padding:0;
box-sizing:border-box;
}
html, body{
width:100%;
height:100%;
display:flex;
flex-direction:column;
align-items: center;
}
h1{
    margin: 20px 0;
}
form{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 5px;
    margin-right: 5px;
    font-size: 18px;
}
input{
    border-radius: 3px;
    padding: 5px;
    }
textarea{
    border-radius: 3px;    
}

/*---------- LAYOUT ----------*/
.style-form{
    border: solid 2px black;
    border-radius: 10px;
}
.style-input{
    background-color: antiquewhite;
    border: solid 1px black;
}
.select-sexo{
    background-color: antiquewhite;
    border: solid 1px black;
    border-radius: 3px;
}
.style-adress{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.adress-number{
    width: 50px;
}
.adress-cep{
    width: 100%;
    max-width: 350px;
}
.style-coments{
    height: 60px;
    padding: 5px;
    text-align: start;  
    vertical-align: top;
}


/*---------- MODULE ----------*/
button{
    padding: 5px;
    width: 90px;
    background-color:antiquewhite;
    border: solid 2px black;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.label-cep{
    margin-left: 10px;
}

/*---------- STATE ----------*/


/*---------- THEME ----------*/